@page "/donate"
@inherits PageBase
@inject IStringLocalizer<SharedResource> Loc

<SectionCardComponent BackgroundClass="bg-primary">
	<div class="m-3">
		<h2 class="text-center mb-3">
			<strong>@Loc["Donate"]</strong>
		</h2>

		<div class="bg-secondary rounded p-2 my-2">@Loc["DonateDesc"]</div>

		<hr />

		<div class="bg-primary rounded text-center p-3 my-2">
			<img class="avatar-tiny" src="/img/xmr.svg" alt="XMR" />
			<div>@Loc["Monero"]</div>
		</div>

		<CopyComponent Text="83PW2wV87ayadYazQoPEpA3GvYw7oPZ9wV4wZNKkSRiXaREwDWVuJ1cVY6591RpjWcfMRMZNdMyzmD1ZPhVDGYUP5FZtTNZ" />

		<div class="bg-secondary text-center rounded p-2 mt-2">
			<ImageModalComponent
				Title="@Loc["Monero"]"
				CssClass="bg-dark cursor-pointer avatar"
				ImageSrc="/img/xmr-qr.png"
				Alt="QR" />
		</div>

		<hr />

		<div class="bg-primary rounded text-center p-3 my-2">
			<img class="avatar-tiny" src="/img/btc.svg" alt="BTC" />
			<div>@Loc["Bitcoin"]</div>
		</div>

		<CopyComponent Text="18iQHTiAgeRAvKXaQu6UwMp1Q7e35QDfPS" />

		<div class="bg-secondary text-center rounded p-2 mt-2">
			<ImageModalComponent
				Title="@Loc["Bitcoin"]"
				CssClass="bg-dark cursor-pointer avatar"
				ImageSrc="/img/btc-qr.png"
				Alt="QR" />
		</div>
	</div>
</SectionCardComponent>

@code
{
	//===========================================================================================
	// Protected Methods
	//===========================================================================================
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		AppState.ShowFooter = true;
	}
}