@page "/"
@inherits PageBase
@inject IStringLocalizer<SharedResource> Loc
@inject HttpService HttpService

@if (_IsRequesting)
{
	<SpinnerComponent />
}

else if (_GetResponse == null || _GetResponse.Error != null)
{
	<ErrorComponent />
}

else
{
	<SectionComponent BackgroundClass="bg-success" BackgroundUri="@_BannerUri">
		<div class="card bg-dark bg-opacity-75 text-white border-0 rounded">
			<AccountComponent Title="@Loc["GetStarted"]" />
		</div>

		<div class="row bg-dark bg-opacity-75 rounded g-2 m-0 p-1 mt-1">
			<div class="col-12 col-sm-6 m-0 p-1">
				<div class="d-flex align-items-center bg-secondary bg-opacity-50 rounded p-3 h-100">
					<i class="fas fa-user fa-2x fa-fw text-info me-3"></i>
					<strong>@_GetResponse.TotalActiveAccounts @Loc["ActiveAccounts"]</strong>
				</div>
			</div>

			<div class="col-12 col-sm-6 m-0 p-1">
				<div class="d-flex align-items-center bg-secondary bg-opacity-50 rounded p-3 h-100">
					<i class="fas fa-heart fa-2x fa-fw text-danger me-3"></i>
					<strong>@_GetResponse.TotalActiveMatches @Loc["ActiveMatches"]</strong>
				</div>
			</div>
		</div>
	</SectionComponent>

	@if (_GetResponse.Cards != null)
	{
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-5 bg-dark m-0 p-1 p-sm-2">
			@{ var CardCounter = 0; }
			@foreach (var Card in _GetResponse.Cards)
			{
				var BackgroundClass = (CardCounter++ % 2 == 0) ? "bg-primary" : "bg-dark";

				<div class="col flex-grow-1 m-0 p-1">
					<CardComponent
						Title="@Card.Title"
						Content="@Card.Content"
						CardClasses="bg-secondary h-100" />
				</div>
			}
		</div>
	}
}

@code
{
	//===========================================================================================
	// Global Variables
	//===========================================================================================
	#region Fields
	private HomeGetDataResponseModel _GetResponse;
	private Uri _BannerUri;
	private Boolean _IsRequesting;
	#endregion

	//===========================================================================================
	// Protected Methods
	//===========================================================================================
	protected override async Task OnInitializedAsync()
	{
		_IsRequesting = true;
		await base.OnInitializedAsync();
	}
	protected override async Task OnSetupAsync()
	{
		await base.OnSetupAsync();
		await ReloadCardsAsync();
		var ApiServerUri = await SettingsService.GetApiServerAsync();
		if (!String.IsNullOrEmpty(_GetResponse?.BannerImage)) _BannerUri = new Uri(ApiServerUri, $"{ApiRequestConstants.IMAGES}/{_GetResponse.BannerImage}");
		else _BannerUri = null;
		AppState.ShowFooter = true;
	}

	//===========================================================================================
	// Private Methods
	//===========================================================================================
	private async Task ReloadCardsAsync()
	{
		var RequestModel = new HomeGetDataRequestModel();
		_IsRequesting = true;
		_GetResponse = await HttpService.PostJsonRequestAsync<HomeGetDataRequestModel, HomeGetDataResponseModel>(ApiRequestConstants.HOME_GET_DATA, RequestModel);
		_IsRequesting = false;
		if (!HttpService.ValidateResponse(_GetResponse)) return;
	}
}
