@page "/match/filter"
@inherits PageBase

<SectionContent SectionName="sub-navbar">
	<MatchNavBarComponent />
</SectionContent>

<SectionCardComponent BackgroundClass="bg-primary">
	@if (_IsRequesting)
	{
		<SpinnerComponent />
	}

	else if (_GetResponse == null || _GetResponse.Error != null)
	{
		<ErrorComponent />
	}

	else if (_EditContext != null)
	{
		<EditForm EditContext="@_EditContext" OnSubmit="OnSaveChangesClick">
			<DataAnnotationsValidator />

			@*** HEADER ***@
			<div class="card-header bg-info p-3">
				<div class="d-flex align-items-center">
					<i class="fas fa-info-circle fa-2x"></i>
					<div class="ps-3 flex-grow-1">
						<strong>@Loc["FilterInfo"]</strong>
					</div>
				</div>
			</div>

			@*** BODY ***@
			<div class="card-body">
				@*** PRONOUNS ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Pronouns"]</div>

					<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.PronounsId">
						<option value="">@Loc["NotSpecified"]</option>
						@foreach (var Pronouns in FullProfile.Data.AllPronouns)
						{
							<option value="@Pronouns.Id">@Loc[Pronouns.Name]</option>
						}
					</InputSelect>
				</label>

				@*** SEX ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Sex"]</div>

					<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.SexId">
						<option value="">@Loc["NotSpecified"]</option>
						@foreach (var Sex in FullProfile.Data.AllSexes)
						{
							<option value="@Sex.Id">@Loc.GetIconText(Sex)</option>
						}
					</InputSelect>
				</label>

				@*** GENDER ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Gender"]</div>

					<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.GenderId">
						<option value="">@Loc["NotSpecified"]</option>
						@foreach (var Gender in FullProfile.Data.AllGenders)
						{
							<option value="@Gender.Id">@Loc[Gender.Name]</option>
						}
					</InputSelect>
				</label>

				@*** REGION ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Region"]</div>

					<InputSelect class="form-select bg-secondary text-white"
						ValueExpression="() => _EditRequest.RegionId"
						Value="_EditRequest.RegionId"
						ValueChanged="(Int32? X) => OnRegionChanged(X)">
						<option value="">@Loc["NotSpecified"]</option>
						@foreach (var Region in FullProfile.Data.AllRegions)
						{
							<option value="@Region.Id">@Loc.GetIconText(Region)</option>
						}
					</InputSelect>
				</label>

				@*** COUNTRY ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Country"]</div>

					<InputSelect class="form-select bg-secondary text-white"
						ValueExpression="() => _EditRequest.CountryId"
						Value="_EditRequest.CountryId"
						ValueChanged="(Int32? X) => OnCountryChanged(X)">
						<option value="">@Loc["NotSpecified"]</option>
						@foreach (var Country in _Countries)
						{
							<option value="@Country.Id">@Loc.GetIconText(Country)</option>
						}
					</InputSelect>
				</label>

				@*** AGE ***@
				<label class="mt-2 w-100" for="">
					<div class="mb-1">@Loc["Age"]</div>

					<input class="btn-check" type="checkbox" id="btn-check-age" @bind="AgeFilterEnabled" />
					<label class="btn btn-outline-success text-white p-2 w-100" for="btn-check-age">@Loc["Active"]</label>

					<div class="text-center mt-2">@Loc["From"] @_EditRequest.FromAge</div>
					<input type="range" class="form-range" min="@ProfileConstants.MIN_AGE" max="@ProfileConstants.MAX_AGE" @bind="FromAge" @bind:event="oninput" disabled="@(!_EditRequest.AgeEnabled)" />
					<div class="text-center mt-2">@Loc["To"] @_EditRequest.ToAge</div>
					<input type="range" class="form-range" min="@_EditRequest.FromAge" max="@ProfileConstants.MAX_AGE" @bind-value="ToAge" @bind-value:event="oninput" disabled="@(!_EditRequest.AgeEnabled)" />
				</label>
			</div>

			@*** FOOTER ***@
			<div class="card-footer p-3">
				<SubmitButtonComponent CssClass="btn btn-success border-0 w-100" Text=@Loc["SaveChanges"] IsDisabled=IsSaveDisabled IsSubmitting=_IsSubmitting Click=@OnSaveChangesClick />
			</div>
		</EditForm>
	}
</SectionCardComponent>
