@page "/match/new"
@inherits PageBase

<SectionContent SectionName="sub-navbar">
	<MatchNavBarComponent />
</SectionContent>

<SectionCardComponent BackgroundClass="bg-primary">
	@if (_IsRequesting)
	{
		<SpinnerComponent />
	}

	else if (_GetResponse == null || _GetResponse.Error != null)
	{
		<ErrorComponent />
	}

	else if (_GetResponse.FullProfile == null)
	{
		<div class="card-body text-center p-4">
			<div class="d-flex align-items-center">
				<h5 class="m-0 w-100 text-center">
					<strong>@Loc["NoNewMatchCandidates"]</strong>
				</h5>
			</div>

			<i class="large fas fa-heart-broken text-danger mt-3"></i>
		</div>

		<div class="card-footer p-3">
			<button type="button" class="btn btn-primary border-0 w-100" @onclick="OnReviewDislikedProfilesClick">@Loc["ReviewDislikedProfiles"]</button>
			<button type="button" class="btn btn-primary border-0 w-100 mt-1" @onclick="OnAdjustFilterClick">@Loc["AdjustFilter"]</button>

			<button type="button" class="btn btn-success border-0 w-100 mt-1" @onclick="GetNextAsync">
				<i class="fas fa-sync"></i>
			</button>
		</div>
	}

	else
	{
		<ProfileComponent
			FullProfile="@_GetResponse.FullProfile"
			CssClass="border-0"
			ShowReportButton=true
			ShowRateButtons=true
			ReportClick="@GetNextAsync"
			RateClick="@GetNextAsync" />
	}
</SectionCardComponent>
