@page "/match/chat"
@inherits PageBase
@implements IDisposable
@inject IStringLocalizer<SharedResource> Loc
@inject AccountService AccountService
@inject HttpService HttpService
@inject ProfileService ProfileService

<div class="d-flex flex-column h-100">
	@if (MainHubService.FirstMatchUser == null)
	{
		<ErrorComponent />
	}

	else
	{
		@* @ref="_CompactProfileComponent" *@
		<ProfileCompactComponent
			CompactProfile=@MainHubService.FirstMatchUser.CompactProfile
			CssClass="bg-secondary border-0 rounded-0 p-1 mb-2"
			ActiveCssClass="bg-primary border-0 rounded-0 p-1 mb-2"
			ChildCssClass="overflow-auto"
			ProfileCssClass="border-0 mx-2"
			ShowNavBarButton=true
			ShowReportButton=true
			ShowUnmatchButton=true
			ProfileClick="OnProfileClick"
			NavBarClick="OnNavBarClick">
			@if (_ShowProfile)
			{
				<div class="row gx-0 m-1">
					<div class="col bg-success text-center rounded p-2 m-1">
						<strong>@Loc["You"]</strong>
						<CopyComponent Text="@_YourPublicKey" />
					</div>
					<div class="col bg-warning text-center rounded p-2 m-1">
						<strong>@Loc["Them"]</strong>
						<CopyComponent Text="@_TheirPublicKey" />
					</div>
				</div>
			}
		</ProfileCompactComponent>

		@* @if (_CompactProfileComponent != null && !_CompactProfileComponent.IsActive) *@
		@if (!_ShowProfile)
		{
			<div id="chat" class="flex-grow-1 overflow-auto px-2 h-100" @onscroll="OnChatScroll">
				@if (_MessageBlockList == null || MainHubService.FirstMatchUserState.IsLoadingPreviousMessages)
				{
					<SpinnerComponent />
				}

				@if (_MessageBlockList != null)
				{
					@foreach (var MessageBlock in _MessageBlockList)
					{
						var FirstMessage = MessageBlock.MessageList[0];
						var BackgroundClass = FirstMessage.Sender != null ? (FirstMessage.Sender.PublicId == MainHubService.LocalUser.CompactProfile.PublicId ? "bg-primary" : "bg-secondary") : "bg-dark";
						var LocalDateTime = FirstMessage.ServerData?.DateTime.ToLocalTime();

						@if (MessageBlock.IsNewDate && LocalDateTime != null)
						{
							<div class="vsplit text-muted mb-1">@LocalDateTime.Value.ToShortDateString()</div>
						}

						<div class="@BackgroundClass rounded mb-1 p-2 w-100">
							@if (LocalDateTime != null)
							{
								<span class="float-end user-select-none">
									<strong>@LocalDateTime.Value.ToString("HH:mm")</strong>
								</span>
							}

							@if (!String.IsNullOrEmpty(MessageBlock.AvatarUri))
							{
								<div class="d-flex align-items-center mb-1">
									<img src="@MessageBlock.AvatarUri" alt="avatar" class="rounded-circle bg-dark d-block avatar-tiny" />
									<div class="ps-2">
										<strong class="text-break">@FirstMessage.Sender.DisplayName</strong>
									</div>
								</div>
							}

							@foreach (var Message in MessageBlock.MessageList)
							{
								LocalDateTime = Message.ServerData?.DateTime.ToLocalTime();

								<div class="@BackgroundClass message">
									@if (Message != FirstMessage && LocalDateTime != null)
									{
										<span class="float-end user-select-none">
											<strong>@LocalDateTime.Value.ToString("HH:mm")</strong>
										</span>
									}

									<span class="white-space-pre-line text-break">@(new MarkupString(Message.ClientData?.Message ?? Loc["DecryptFailed"]))</span>
								</div>
							}
						</div>
					}
				}

				@if (((_MessageBlockList != null && _MessageBlockList.Count > 0) || !MainHubService.FirstMatchUserState.IsLoadingPreviousMessages) && MainHubService.FirstMatchUserState.IsLoadingFollowingMessages)
				{
					<SpinnerComponent />
				}
			</div>

			<div class="input-group mt-1">
				<textarea
					id="@IdConstants.SEND_MESSAGE_ID"
					class="form-control bg-dark text-white border-0 rounded-0 px-1 py-0"
					placeholder="@Loc["SendMessage"]"
					maxlength="@MainHubConstants.CHAT_MAX_MESSAGE_LENGTH"
					rows="2"
					style="resize:both;"
					@bind="Message" @bind:event="oninput"
					@onkeypress="OnMessageKeyDown" />

				<button type="button" class="btn btn-success border-0 rounded-0 px-4" @onclick="OnSendClick">
					<i class="fas fa-chevron-right fa-2x"></i>
				</button>
			</div>
		}
	}
</div>
