@page "/profile"
@inherits PageBase

<SectionCardComponent BackgroundClass="bg-primary">
	@if (_IsRequesting)
	{
		<SpinnerComponent />
	}

	else if (_GetResponse == null || _GetResponse.Error != null)
	{
		<ErrorComponent />
	}

	else if (_EditContext != null)
	{
		<ConfirmModalComponent
			@ref="_AccountDeleteConfirmModal"
			Title="@Loc["AccountDeleteConfirmTitle"]"
			Content="@Loc["AccountDeleteConfirmContent"]"
			ConfirmText="@Loc["Delete"]"
			CloseText="@Loc["Close"]"
			ConfirmClass="btn-danger"
			OnConfirm="OnDeleteAccountClick" />

		<EditForm EditContext="@_EditContext" OnSubmit="OnSaveChangesClick">
			<DataAnnotationsValidator />

			@*** HEADER ***@
			<div class="card-header text-end p-3">
				@* <div class="btn-group" role="group">
					<button type="button" class="btn btn-primary border-0" @onclick="OnImportClick">@Loc["Import"]</button>
					<button type="button" class="btn btn-primary border-0" @onclick="OnExportClick">@Loc["Export"]</button>
				</div> *@

				<SubmitButtonComponent
					CssClass="btn btn-danger border-0"
					Text=@Loc["DeleteAccount"]
					IsDisabled=IsSubmitting
					IsSubmitting=_IsSubmittingDeleteAccount
					Click=_AccountDeleteConfirmModal.Open />

				@* <div class="mt-3 w-100">@Loc["Created"]: @Account.Creation.ToShortDateString()</div>
				<div class="w-100">@Loc["LastActive"]: @(Account.LastActive?.ToShortDateString() ?? Loc["Never"])</div> *@
			</div>

			@*** PRIVATE KEY ***@
			@if (!String.IsNullOrEmpty(_PrivateKey_Base64))
			{
				<div class="card-body bg-success text-center">
					<i class="@_PrivateKeyVisibilityIcon cursor-pointer" @onclick="OnTogglePrivateKeyClick"></i>

					<h6 class="m-0">
						<strong>@Loc["PrivateKey"]</strong>
					</h6>

					@if (_IsPrivateKeyVisible)
					{
						<div class="bg-warning rounded mt-2 p-2">
							<strong>@Loc["PrivateKeyNotice"]</strong>
						</div>

						<CopyComponent Text="@_PrivateKey_Base64" />
					}
				</div>
			}

			@*** INFO ***@
			<div class="card-body bg-secondary">
				<ImageModalComponent
					Title="@Profile.DisplayName"
					CssClass="bg-dark rounded-circle d-block mx-auto my-3 cursor-pointer avatar"
					ImageSrc="@(_PreviewAvatar ?? _AvatarUri)"
					Alt="avatar" />

				<h4 class="text-center m-0">
					<strong>@Profile.DisplayName</strong>
				</h4>

				<div class="text-center">
					<span class="badge rounded-pill bg-dark mt-1">@Account.PublicId</span>
				</div>
			</div>

			@*** BODY ***@
			<div class="card-body">
				@*** AVATAR ***@
				<label class="w-100" for="">
					<div class="mb-1">@Loc["Avatar"]</div>

					<div class="d-flex">
						<InputFile OnChange="@OnAvatarFileChanged" class="form-control flex-grow-1 bg-secondary text-white" accept=".jpg,.jpeg,.png" />

						<SubmitButtonComponent
							CssClass="btn btn-danger border-0 ms-2"
							Text=@(_AvatarStream != null ? Loc["Clear"] : Loc["Reset"])
							IsDisabled=@(IsSubmitting || (_AvatarStream == null && _HasDefaultAvatar))
							IsSubmitting=_IsSubmittingResetAvatar
							Click=OnClearResetAvatarClick />
					</div>
				</label>

				@*** DISPLAYNAME ***@
				<label class="mt-2 w-100" for="">
					@* <div class="mb-1">@Loc["DisplayName"] (@String.Format(Loc["CharactersLeft"], Math.Max(ProfileConstants.MAX_DISPLAY_NAME_LENGTH - _EditRequest.DisplayName.Length, 0)))</div> *@
					<div class="mb-1">@Loc["DisplayName"]</div>

					<InputText_OnInput
						class="form-control bg-secondary text-white"
						placeholder="@Loc["DisplayName"]"
						maxlength="@ProfileConstants.MAX_DISPLAY_NAME_LENGTH"
						autocomplete="off"
						autocorrect="off"
						autocapitalize="off"
						spellcheck="false"
						@bind-Value="_EditRequest.DisplayName" />
				</label>

				@if (_ShowDetails)
				{
					@*** PRONOUNS ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Pronouns"]</div>

						<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.PronounsId">
							<option value="">@Loc["NotSpecified"]</option>
							@foreach (var Pronouns in FullProfile.Data.AllPronouns)
							{
								<option value="@Pronouns.Id">@Loc[Pronouns.Name]</option>
							}
						</InputSelect>
					</label>

					@*** SEX ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Sex"]</div>

						<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.SexId">
							<option value="">@Loc["NotSpecified"]</option>
							@foreach (var Sex in FullProfile.Data.AllSexes)
							{
								<option value="@Sex.Id">@Loc.GetIconText(Sex)</option>
							}
						</InputSelect>
					</label>

					@*** GENDER ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Gender"]</div>

						<InputSelect class="form-select bg-secondary text-white" @bind-Value="_EditRequest.GenderId">
							<option value="">@Loc["NotSpecified"]</option>
							@foreach (var Gender in FullProfile.Data.AllGenders)
							{
								<option value="@Gender.Id">@Loc[Gender.Name]</option>
							}
						</InputSelect>
					</label>

					@*** REGION ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Region"]</div>

						<InputSelect class="form-select bg-secondary text-white"
							ValueExpression="() => _EditRequest.RegionId"
							Value="_EditRequest.RegionId"
							ValueChanged="(Int32? X) => OnRegionChanged(X)">
							<option value="">@Loc["NotSpecified"]</option>
							@foreach (var Region in FullProfile.Data.AllRegions)
							{
								<option value="@Region.Id">@Loc.GetIconText(Region)</option>
							}
						</InputSelect>
					</label>

					@*** COUNTRY ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Country"]</div>

						<InputSelect class="form-select bg-secondary text-white"
							ValueExpression="() => _EditRequest.CountryId"
							Value="_EditRequest.CountryId"
							ValueChanged="(Int32? X) => OnCountryChanged(X)">
							<option value="">@Loc["NotSpecified"]</option>
							@foreach (var Country in _Countries)
							{
								<option value="@Country.Id">@Loc.GetIconText(Country)</option>
							}
						</InputSelect>
					</label>

					@*** BIRTH DATE ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["BirthDate"]</div>

						<InputDate class="form-control  bg-secondary text-white w-100" @bind-Value="_EditRequest.BirthDate" />
					</label>

					@*** TAGS ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Tags"]</div>

						@foreach (var Tag in _EditRequest.Tags)
						{
							<span class="badge bg-primary m-1 p-2">@Tag.Name <i class="fas fa-backspace cursor-pointer" @onclick="() => OnRemoveTagClick(Tag.Name)"></i></span>
						}

						@foreach (var Tag in _NewTagList)
						{
							<span class="badge bg-success m-1 p-2">@Tag.Name <i class="fas fa-backspace cursor-pointer" @onclick="() => OnRemoveTagClick(Tag.Name)"></i></span>
						}

						<div class="d-flex mt-2">
							<input
								type="text"
								class="form-control flex-grow-1 bg-secondary text-white text-uppercase"
								placeholder="@Loc["NewTag"]"
								maxlength="@ProfileConstants.MAX_TAG_NAME_LENGTH"
								autocorrect="off"
								autocapitalize="off"
								spellcheck="false"
								@bind="_NewTagName"
								@bind:event="oninput"
								@onkeydown="OnTagKeyDown" />

							<button type="button" class="btn btn-success border-0 ms-2" @onclick="OnAddTagClick" disabled="@(IsSubmitting || String.IsNullOrEmpty(_NewTagName))">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</label>

					@*** SEXUALITIES ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["Sexualities"]</div>

						@foreach (var Sexuality in _EditRequest.Sexualities)
						{
							<span class="badge bg-primary m-1 p-2">@Sexuality.Name <i class="fas fa-backspace cursor-pointer" @onclick="() => OnRemoveSexualityClick(Sexuality.Id)"></i></span>
						}

						@foreach (var Sexuality in _NewSexualityList)
						{
							<span class="badge bg-success m-1 p-2">@Sexuality.Name <i class="fas fa-backspace cursor-pointer" @onclick="() => OnRemoveSexualityClick(Sexuality.Id)"></i></span>
						}

						<div class="d-flex mt-2">
							<select class="form-select flex-grow-1 bg-secondary text-white" @bind="_NewSexualityId" @onkeydown="OnSexualityKeyDown">
								<option value="-1" disabled>@Loc["SelectSexuality"]</option>
								@foreach (var Sexuality in FullProfile.Data.AllSexualities)
								{
									<option value="@Sexuality.Id">@Loc[Sexuality.Name]</option>
								}
							</select>

							<button type="button" class="btn btn-success border-0 ms-2" @onclick="OnAddSexualityClick" disabled="@(IsSubmitting || _NewSexualityId == -1)">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</label>

					@*** LOOKING FOR ***@
					<label class="mt-2 w-100" for="">
						<div class="mb-1">@Loc["LookingFor"]</div>

						<div class="bg-info d-flex align-items-center rounded mb-2 p-2">
							<i class="fas fa-info-circle fa-2x"></i>
							<div class="ps-3 flex-grow-1">
								<strong>@Loc["FilterValueInfo"]</strong>
							</div>
						</div>

						<div class="btn-group-vertical d-flex" role="group">
							@{
								var LookingForValues = Enum.GetValues<ELookingFor>();
								foreach (var Value in LookingForValues)
								{
									if (Value <= 0) continue;

									var EnumValue = (ELookingFor)Value;
									var EnumText = EnumValue.ToString();

									<input
										type="checkbox"
										class="btn-check"
										id="btn-check-@EnumText"
										autocomplete="off"
										checked="@(_EditRequest.LookingFor.HasFlag(Value))"
										@onchange="() => OnLookingForChanged(EnumValue)" />

									<label class="btn btn-outline-success text-white p-2 w-100" for="btn-check-@EnumText">
										<i class="@ProfileService.GetLookingForIconClasses(EnumValue)"></i>
										<strong>@Loc[EnumText]</strong>
									</label>
								}
							}
						</div>
					</label>

					@*** ABOUT ME ***@
					<label class="mt-2 w-100" for="">
						@* <div class="mb-1">@Loc["AboutMe"] (@String.Format(Loc["CharactersLeft"], Math.Max(ProfileConstants.MAX_ABOUT_LENGTH - _EditRequest.AboutMe.Length, 0)))</div> *@
						<div class="mb-1">@Loc["AboutMe"]</div>

						<InputTextArea_OnInput
							class="form-control bg-secondary text-white"
							maxlength="@ProfileConstants.MAX_ABOUT_LENGTH"
							rows="5"
							@bind-Value="_EditRequest.AboutMe" />
					</label>

					@*** ABOUT YOU ***@
					<label class="mt-2 w-100" for="">
						@* <div class="mb-1">@Loc["AboutYou"] (@String.Format(Loc["CharactersLeft"], Math.Max(ProfileConstants.MAX_ABOUT_LENGTH - _EditRequest.AboutYou.Length, 0)))</div> *@
						<div class="mb-1">@Loc["AboutYou"]</div>

						<InputTextArea_OnInput
							class="form-control bg-secondary text-white"
							maxlength="@ProfileConstants.MAX_ABOUT_LENGTH"
							rows="5"
							@bind-Value="_EditRequest.AboutYou" />
					</label>
				}
			</div>

			@*** FOOTER ***@
			<div class="card-footer p-3">
				@if (!_ShowDetails)
				{
					<button type="button" class="btn btn-primary border-0 mb-2 w-100" @onclick="@(() => _ShowDetails = !_ShowDetails)">@Loc["ShowMoreDetails"]</button>
				}

				<SubmitButtonComponent
					CssClass="btn btn-success border-0 w-100"
					Text=@Loc["SaveChanges"]
					IsDisabled=IsSaveChangesDisabled
					IsSubmitting=_IsSubmittingSaveChanges
					Click=@OnSaveChangesClick />
			</div>
		</EditForm>
	}
</SectionCardComponent>
