@inject IStringLocalizer<SharedResource> Loc

<label class="mt-2 w-100" for="">
	<div class="mb-1">@Name</div>
	<div class="d-flex mt-2">
		<select class="form-select flex-grow-1 bg-secondary text-white" @bind="_SelectedName">
			<option value="" disabled selected>@SelectPlaceholder</option>
			@ChildContent
		</select>

		<button type="button" class="btn btn-danger border-0 ms-2" @onclick="() => RemoveClick.InvokeAsync(_SelectedName)" disabled="@String.IsNullOrEmpty(_SelectedName)">
			<i class="fas fa-minus"></i>
		</button>
	</div>
	<div class="d-flex mt-2">
		<input
			type="text"
			class="form-control bg-secondary text-white"
			placeholder="@Loc["Icon"]"
			maxlength="@ProfileDataConstants.MAX_ICON_LENGTH"
			autocomplete="off"
			autocorrect="off"
			autocapitalize="off"
			spellcheck="false"
			@bind="_NewIcon"
			@bind:event="oninput" />

		<input
			type="text"
			class="form-control flex-grow-1 bg-secondary text-white ms-2"
			placeholder="@NewPlaceholder"
			maxlength="@NewMaxLength"
			autocomplete="off"
			autocorrect="off"
			spellcheck="false"
			@bind="_NewName"
			@bind:event="oninput" />

		<button type="button" class="btn btn-success border-0 ms-2" @onclick="() => AddClick.InvokeAsync((_NewName, _NewIcon))" disabled="@IsAddDisabled">
			<i class="fas fa-plus"></i>
		</button>
	</div>
</label>

@code
{
	//===========================================================================================
	// Global Variables
	//===========================================================================================
	#region Properties
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public String Name { get; set; }
	[Parameter]
	public String NewPlaceholder { get; set; }
	[Parameter]
	public String SelectPlaceholder { get; set; }
	[Parameter]
	public Int32 NewMaxLength { get; set; }

	[Parameter]
	public EventCallback<(String, String)> AddClick { get; set; }
	[Parameter]
	public EventCallback<String> RemoveClick { get; set; }

	private Boolean IsAddDisabled => String.IsNullOrEmpty(_NewIcon) || String.IsNullOrEmpty(_NewName);
	#endregion
	#region Fields
	private String _SelectedName = String.Empty;
	private String _NewName = String.Empty;
	private String _NewIcon = String.Empty;
	#endregion
}