@inject IStringLocalizer<SharedResource> Loc

<div class="d-flex flex-wrap bg-dark justify-content-center py-3">
	<NavLink class="text-white px-2 py-1" href="https://github.com/yalohi/SimplyMeet">@Loc["Github"]</NavLink>
	<NavLink class="text-white px-2 py-1" href="https://matrix.to/#/#simplymeet:matrix.org">@Loc["Matrix"]</NavLink>
	<NavLink class="text-white px-2 py-1" href="https://discord.gg/bn5f6hryEG">@Loc["Discord"]</NavLink>
	<NavLink class="text-white px-2 py-1" href="@NavigationConstants.NAV_PRIVACY">@Loc["Privacy"]</NavLink>
	<NavLink class="text-white px-2 py-1" href="@NavigationConstants.NAV_DONATE">@Loc["Donate"]</NavLink>
</div>