<div class="@(IsActive ? ActiveCssClass : CssClass)">
	<div class="d-flex align-items-center">
		@if (CompactProfile == null)
		{
			<SpinnerComponent />
		}

		else
		{
			<ImageModalComponent
				Title="@CompactProfile.DisplayName"
				CssClass="bg-dark rounded-circle d-block cursor-pointer avatar-small"
				ImageSrc="@_AvatarUri"
				Alt="avatar" />

			<div class="ps-3">
				<strong class="text-break">@CompactProfile.DisplayName</strong><br />
				<span class="badge rounded-pill bg-dark mt-1">@CompactProfile.PublicId</span>
			</div>

			<div class="ps-3 flex-grow-1 text-end text-nowrap">
				<button type="button" class="btn btn-success border-0" @onclick="OnProfileClick">
					<i class="fas fa-user-circle fa-2x"></i>
				</button>

				@if (ShowRemoveButton)
				{
					<button type="button" class="btn btn-danger border-0 ms-2" @onclick="() => RemoveClick.InvokeAsync(this)">
						<i class="fas fa-minus fa-2x"></i>
					</button>
				}

				@if (ShowNavBarButton)
				{
					<button type="button" class="btn btn-dark border-0 ms-2" @onclick="() => NavBarClick.InvokeAsync()">
						<i class="fas fa-bars fa-2x"></i>
					</button>
				}
			</div>
		}
	</div>
</div>

@if (IsActive)
{
	<div class="ChildCssClass">
		<ProfileComponent
			PublicId="@CompactProfile.PublicId"
			CssClass="@ProfileCssClass"
			Choice="@CompactProfile.Choice"
			ShowReportButton=@ShowReportButton
			ShowSuspendButton=@ShowSuspendButton
			ShowUnmatchButton=@ShowUnmatchButton
			ShowRateButtons=@ShowRateButtons
			SuspendClick="@SuspendClick"
			RateClick="@RateClick" />

		@ChildContent
	</div>
}
