<div class="card @CssClass">
	@if (_IsRequesting)
	{
		<SpinnerComponent />
	}

	else if (FullProfile != null)
	{
		<div class="card-header bg-secondary">
			<div>
				@if (_Region != null)
				{
					<div class="float-start me-1">@_Region.Icon</div>
				}

				@if (_Country != null)
				{
					<div class="float-start me-1">@_Country.Icon</div>
				}

				@if (_Sex != null)
				{
					<div class="float-start me-1">@_Sex.Icon</div>
				}

				@if (FullProfile.AccountFlags.HasFlag(EAccountFlags.Active))
				{
					<div class="float-end">
						<span class="badge rounded-pill bg-success ms-1">@Loc["Active"]</span>
					</div>
				}

				@if (FullProfile.AccountFlags.HasFlag(EAccountFlags.New))
				{
					<div class="float-end">
						<span class="badge rounded-pill bg-info ms-1">@Loc["New"]</span>
					</div>
				}
			</div>

			<br />

			<ImageModalComponent
				Title="@FullProfile.Profile.DisplayName"
				CssClass="bg-dark rounded-circle d-block mx-auto my-3 cursor-pointer avatar"
				ImageSrc="@_AvatarUri"
				Alt="avatar" />

			<h4 class="text-center m-0">
				<strong>@FullProfile.Profile.DisplayName</strong>
			</h4>

			<div class="text-center">
				<span class="badge rounded-pill bg-dark mt-1">@FullProfile.Account.PublicId</span>
			</div>
		</div>

		<div class="card-body">
			@if (!_ShowDetails)
			{
				<div class="text-center">
					<strong>@Loc["NoDetailedProfileData"]</strong>
				</div>
			}

			else
			{
				@*** BIRTH DATE ***@
				@if (FullProfile.Profile.BirthDate != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Age"]</span>
					<div class="py-1 text-center">@FullProfile.Profile.BirthDate.Value.GetAge()</div>
				}

				@*** PRONOUNS ***@
				@if (_Pronouns != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Pronouns"]</span>
					<div class="py-1 text-center">@Loc[_Pronouns.Name]</div>
				}

				@*** SEX ***@
				@if (_Sex != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Sex"]</span>
					<div class="py-1 text-center">@Loc.GetIconText(_Sex)</div>
				}

				@*** GENDER ***@
				@if (_Gender != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Gender"]</span>
					<div class="py-1 text-center">@Loc[_Gender.Name]</div>
				}

				@*** REGION ***@
				@if (_Region != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Region"]</span>
					<div class="py-1 text-center">@Loc.GetIconText(_Region)</div>
				}

				@*** COUNTRY ***@
				@if (_Country != null)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Country"]</span>
					<div class="py-1 text-center">@Loc.GetIconText(_Country)</div>
				}

				@*** TAGS ***@
				@if (FullProfile.Tags.Any())
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Tags"]</span>
					@foreach (var Tag in FullProfile.Tags)
					{
						<span class="badge bg-primary me-1 mt-1 p-2">@Tag.Name</span>
					}
				}

				@*** SEXUALITIES ***@
				@if (FullProfile.Sexualities.Any())
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["Sexualities"]</span>
					@foreach (var Sexuality in FullProfile.Sexualities)
					{
						<span class="badge bg-primary me-1 mt-1 p-2">@Sexuality.Name</span>
					}
				}

				@*** LOOKING FOR ***@
				if (FullProfile.Profile.LookingFor != ELookingFor.NotSpecified)
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["LookingFor"]</span>

					var LookingForValues = Enum.GetValues<ELookingFor>();
					<div class="d-flex">
						@foreach (var Value in LookingForValues)
						{
							@if (Value <= 0 || !FullProfile.Profile.LookingFor.HasFlag(Value)) continue;

							var EnumValue = (ELookingFor)Value;
							var EnumText = EnumValue.ToString();

							<span class="badge bg-primary text-center me-1 mt-1 p-2 w-100">
								<i class="@ProfileService.GetLookingForIconClasses(EnumValue)"></i>
								<strong>@Loc[EnumText]</strong>
							</span>
						}
					</div>
				}

				@*** ABOUT ME ***@
				@if (!String.IsNullOrEmpty(FullProfile.Profile.AboutMe))
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["AboutMe"]</span>
					<div class="py-1 white-space-pre-line">@FullProfile.Profile.AboutMe</div>
				}

				@*** ABOUT YOU ***@
				@if (!String.IsNullOrEmpty(FullProfile.Profile.AboutYou))
				{
					<span class="badge bg-secondary text-center w-100 mt-1">@Loc["AboutYou"]</span>
					<div class="py-1 white-space-pre-line">@FullProfile.Profile.AboutYou</div>
				}
			}
		</div>

		@if (ShowReportButton || ShowSuspendButton || ShowUnmatchButton)
		{
			<div class="card-body pt-0">
				@if (ShowReportButton)
				{
					<ConfirmModalComponent
						@ref="_ReportConfirmModal"
						Title="@Loc["ReportConfirmTitle"]"
						Content="@Loc["ReportConfirmContent"]"
						ConfirmText="@Loc["Report"]"
						CloseText="@Loc["Close"]"
						ConfirmClass="btn-info"
						OnConfirm="OnReportClick" />

					<button type="button" class="btn btn-info border-0 my-1 w-100" @onclick="() => _ReportConfirmModal?.Open()" disabled="@FullProfile.Reported">@Loc["Report"]</button>
				}

				@if (ShowSuspendButton)
				{
					<ConfirmModalComponent
						@ref="_SuspendAccountConfirmModal"
						Title="@Loc["SuspendAccountConfirmTitle"]"
						Content="@Loc["SuspendAccountConfirmContent"]"
						ConfirmText="@Loc["SuspendAccount"]"
						CloseText="@Loc["Close"]"
						ConfirmClass="btn-danger"
						OnConfirm="OnSuspendAccountClick" />

					<button type="button" class="btn btn-danger border-0 my-1 w-100" @onclick="() => _SuspendAccountConfirmModal?.Open()">@Loc["SuspendAccount"]</button>
				}

				@if (ShowUnmatchButton)
				{
					<ConfirmModalComponent
						@ref="_UnmatchConfirmModal"
						Title="@Loc["UnmatchConfirmTitle"]"
						Content="@Loc["UnmatchConfirmContent"]"
						ConfirmText="@Loc["Unmatch"]"
						CloseText="@Loc["Close"]"
						ConfirmClass="btn-danger"
						OnConfirm="OnUnmatchClick" />

					<button type="button" class="btn btn-danger border-0 my-1 w-100" @onclick="() => _UnmatchConfirmModal?.Open()">@Loc["Unmatch"]</button>
				}
			</div>
		}

		@if (ShowRateButtons)
		{
			<div class="card-footer p-3">
				<button type="button" class="btn btn-success border-0 float-start" @onclick="OnLikeClick" disabled="@(Choice == EMatchChoice.Like)">
					<i class="fas fa-plus fa-3x"></i>
				</button>

				<button type="button" class="btn btn-danger border-0 float-end" @onclick="OnDislikeClick" disabled="@(Choice == EMatchChoice.Dislike)">
					<i class="fas fa-minus fa-3x"></i>
				</button>
			</div>
		}
	}
</div>
