<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<SectionCardComponent BackgroundClass="bg-primary">
				<h3 class="text-center my-3">404</h3>
			</SectionCardComponent>
		</LayoutView>
	</NotFound>
</Router>